{% extends "app/base.html" %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="col s12">
      <h1 class="col s12">Каталог компьютеров Apple</h1>
      {% for item in items %}
      <div class="col s12 m8">
        <div class="card">
          <div class="card-image">
            {% with item_url=item.img  %}
              <img src={% static item_url %}>
            {% endwith %}
          </div>
          <div class="card-content">
            <span class="card-title black-text">{{ item.title }}</span>
            {{ item.text }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}